<html>
  <head>
    <title>Landing Page</title>
    <link rel="stylesheet" href="/css/root.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"> -->
  </head>
  <body>
    <h1><%= title %></h1>
    <%- include('partials/header') %>
    <%- include('partials/chat') %>
    <%- include('partials/bingocard') %>
    <% if (flashMessagesSuccess.length > 0) { %>
      <div id="flash-message-display" class="alert alert-success">
        <%= flashMessagesSuccess %>
      </div>
    <% } %>
    <% if (flashMessagesError.length > 0) { %>
      <div id="flash-message-display" class="alert alert-danger">
        <%= flashMessagesError %>
      </div>
    <% } %>
    <div class="container">
      <nav>
        <% if (session.user) { %>
          <div id="status">Currently logged in as <%= session.user.username %></div>
        <% } %>
        <ul>
          <% if (session.user) { %>
            <li><a href="http://localhost:3000/auth/logout">Log Out</a></li>
          <% } else { %>
            <li><a href="http://localhost:3000/auth/login">Login</a></li>
            <li><a href="http://localhost:3000/auth/register">Sign Up</a></li>
          <% } %>
          <li><a href="http://localhost:3000/games/waitinglobby/412">Waiting Lobby 412</a></li>
          <li><a href="http://localhost:3000/games/ingame/412">Game Screen 412</a></li>
          <li><a href="http://localhost:3000/games/creategame" class="btn btn-primary">Create a Game!</a></li>
        </ul>

      </nav>
    </div>
    <article>
      Welcome to Bingo!
    </article>

    <section id="display-games">
    </section>

    <!-- <aside>
      <div>
        Hello chat (Now you can use this)
      </div>
      <form>
        <label for="all-chat"> Speak here: </label><br>
        <input type="text" id="all-chat" name="all-chat" placeholder="Write your message here">
        <input type="submit" id="send-msg" name="all-chat-send" value="Submit">
      </form>
    </aside> -->

    <!-- Keep script tag at bottom of the body -->
    <script src="/js/main.js"></script>
    <script src="/js/clientchat"></script>
    <script src="/js/root.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script> -->
    <%- include('partials/footer') %>
  </body>
</html>
